{% extends "base.html" %}

{% block title %}Admin - Oumuverse{% endblock %}

{% block content %}
<div class="container">
    <h1>Admin</h1>
    {% for user in users %}
    <div>
        <p><strong>Username:</strong> {{ user.username }} (ID: {{ user.id }})</p>
        
        <form action="{{ url_for('reset_password_admin', user_id=user.id) }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token()}}">
            <input type="password" name="new_password" placeholder="New Password" required>
            <button type="submit">Reset Password</button>
        </form>
        {% if error and error_user_id == user.id %}
        <p style="color: red">{{ error }}</p>
        {% endif %}
    </div>
    {% endfor %}
    <a href="{{ url_for('mypost') }}">Go My Posts</a>
</div>
{% endblock %}