{% extends "base.html"%}
{% block content %}

<h1>My Post</h1>
<a href="/newpost" role="button">New Post</a>
<a href="/everyonepost" role="button">Everyone post</a>
<a href="/logout" role="button">Logout</a>
{% for post in posts %}
<article>
    <h3>{{ post.title }}</h3>
    <p>DayTime:{{ post.updated_at.strftime('%Y-%m-%d %H:%M') }} User:{{ post.author.username }}</p>
    <p>{{ post.body }}</p>
    <a href="/{{post.id}}/edit" role="button">Edit</a>
    <a href="/{{post.id}}/delete" role="button">Delete</a>
</article>  
{% endfor%}
    
{% endblock %}